<FilesMatch "\.(txt|aus|tip|ein|stat|cfg|l98|csv)$">
	deny from all
</FilesMatch>
<Files gpl.txt>
	allow from all
</Files>

# Entfernen Sie im unteren Bereich die Kommenatrzeichen (#), falls Sie Probleme mit Sessions haben
# ACHTUNG: NICHT ALLE SERVER ERLAUBEN DIESE BEFEHLE!
#
#<IfModule mod_php4.c>
#	php_flag session.use_trans_sid 1
#	php_value arg_separator.output &amp;
#</IfModule>
